{% extends "base.html" %}

{% block titulo %} Mis publicaciones {% endblock %}

{% block contenido_principal %}
<h2>Mis publicaciones</h2>
<br/>
<a href="/user/publicaciones/publicar"><span class="glyphicon glyphicon-plus"></span> Agregar nuevo artículo </a>
<br/>
<br/>
{% for publicacion in publicaciones %}
<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
    <div style=" width: 200px">
        <img alt="logo" src="/img/publicacion.png"/>
        <div class="wrap">{{ publicacion.titulo }}</div>
        <div class="small">{{ publicacion.detalle }}</div>
        <div class="small">{{ publicacion.fecha }}</div>
        <div class="text-right">{{ publicacion.precio }} €</div>
        <a style="border-radius:10px; padding: 6px; background-color: #793636; color: white" href="/user/publicaciones/eliminar/{{publicacion._id.toString()}}">Eliminar</a>
    </div>
</div>
{%endfor%}
{% endblock %}